<div class="footer-block">
    <div class="container-fluid">
      <div class="footer-logo">
        <img alt="right wallpaper ad" src="../../assets/imges/headerlogo.png">
        <span class="line"></span>
      </div>
      <div class="row footer-top">
        <div class="col-md-6 contact-us">
          <div class="details">
            <ul class="info">
              <li><a href="/">Home</a></li>
              <li><a href="/about">About Us</a></li>
              <li><a href="/service">Services</a></li>
              <li><a href="/contact">Contact us</a></li>
            </ul>
          </div>
          <div class="details">
            <ul class="info">
              <li><a href="/">Web Designing</a></li>
              <li><a href="/">Digital Marketing</a></li>
              <li><a href="/">Cloud Services</a></li>
              <li><a href="/">Marketing</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 sales">
          <div class="support">
            <h6>E - Mail</h6>
            <ul>
              <li>
                <a href="#"><img alt="mail icon" src="../../assets/imges/mail_icon_footer.png"></a>
                <a href="#">info@idreamtechsolutions.com</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 sales">
          <div class="support">
            <h6>Phone</h6>
            <ul>
              <li>
                <a href=""><img alt="mail icon" src="../../assets/imges/phone_icon_footer.png"></a>
                <a href="">+12144151212</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-line"></div>
    <div class="container-fluid">
      <div class="row footer-bottom">
        <div class="col-md-8 footer-bot-left">
          <ul class="terms list-inline">
            <li class="list-inline-item"><a>© Copyright 2023 I Dream Tech Solutions All Rights Reserved.</a></li>
            <li class="list-inline-item"><a href="#">Privacy policy</a></li>
            <li class="list-inline-item"><a href="#">Terms and Conditions</a></li>
          </ul>
        </div>
        <div class="col-md-4 footer-bot-right">
          <ul class="social">
            <li class="list-inline-item">
              <a href="#" class="socialshareicon linkidenicon">
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="socialshareicon fbicon">
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="socialshareicon youttubeicon">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>