<div class="wrapper"></div>
<div class="wrapper-container">
    <div class="container-fluid">
        <div class="information-block">
            <div class="digital">
                <h3>Contact US</h3>
                <p></p>
            </div>
        </div>
    </div>
</div>
<div class="form-section holder_block">
    <div class="container-fluid">
        <div class="publishing contact-publish">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12 contact-form-image">
                    <img alt="case studies" src="../../assets/imges/contact_img.jpg">
                </div>
                <div class="col-md-12 col-sm-12 col-lg-6">
                    <h6>contact us now</h6>
                    <h4>Get in Touch with IDream</h4>
                    <div class="contact-message">
                        <h6>send us a message</h6>
                    </div>
                    <form class="form-block">
                        <div class="form-group">
                            <label>YOUR NAME <span class="star"> *</span></label>
                            <input type="text" class="textbox  valid" required="">
                        </div>
                        <div class="form-group">
                            <label>TELEPHONE <span class="star"> *</span></label>
                            <input type="text" class="textbox  valid" data-type="TelephoneNumber" required="">
                        </div>
                        <div class="form-group">
                            <label>EMAIL ADDRESS <span class="star"> *</span></label>
                            <input type="text" class="textbox  valid" data-type="Email" required="">
                        </div>
                        <div class="form-group">
                            <label>MESSAGE SUBJECT <span class="star"> *</span></label>
                            <input type="text" class="textbox  valid" data-type="" required="">
                        </div>
                        <div class="form-group">
                            <label>YOUR MESSAGE <span class="star"> *</span></label>
                            <textarea class="form-control valid" rows="" cols="" required=""></textarea>
                        </div>
                        <input type="hidden" class="hiddenRecaptcha" name="qt_hiddenRecaptcha" id="qt_hiddenRecaptcha">
                        <div class="button_holder">
                            <button name="button" type="submit" id="contact_submit" class="btn btn-primary">
                                Submit
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="map-block">
    <div class="container-fluid">
        <div class="contact-card-block">
            <div class="container-fluid">
                <div class="row address-block">
                    <!-- Component :: contact-us-map-->
                    <div class="contact-content1 single col-md-12 col-lg-4">
                        <div class="contact-card-content location-left"><img src="../../assets/imges/location_icon.png"
                                alt="location icon">
                            <h6>canada</h6>
                            <div class="row">
                                <div class="col-md-8">
                                    <ul>
                                        <li>IDream Tech Solutions</li>
                                        <li>Deux-Montagnes Regional County Municipality</li>
                                        <li>Quebec J0N 1M0</li>
                                        <li>Canada</li>
                                        <li><br></li>
                                        <li class="maps"><a target="_blank" href="https://maps.google.com/maps?ll=45.522134,-73.983556&z=10&t=m&hl=en-US&gl=US&mapclient=embed&cid=8180827269578400769">Google Maps</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-2 phone-icon">&nbsp;</div>
                                <div class="col-md-2 mail-icon">
                                    <a href="#">
                                        <img src="../../assets/imges/mail_icon_orange.png" alt="mail icon">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="contact-btn">
                            <a href="/contact" class="btn btn-primary" aria-pressed="true">get in touch</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>