<div class="wrapper"></div>
<div class="wrapper-container">
    <div class="container-fluid">
        <div class="information-block">
            <div class="digital">
                <h3>ABOUT US</h3>
                <p>Let’s discover, design & develop digital experience to help your brand grow with Innovative,
                    Technology and Strategical solution.</p>
            </div>
        </div>
    </div>
</div>
<div class="Objective holder_block">
    <div class="container-fluid">
        <div class="testimonial">
            <div class="row testimonial-heading">
                <div class="col-md-7">
                    <h4>Objective</h4>
                    <h6>We Are Different From Others.</h6>
                </div>
            </div>
        </div>
        <div class="case-studies-body">
            <div class="container-fluid">
                <div class="row card-row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="case-studies-card">
                            <div class="card-header case-studies-card-head">
                                <p class="card-text">
                                    We have been capable of establishing our reputation with a huge clientele by focusing on the changing online market dynamics, providing out of the box ideas for different projects. Our team of professionals is well focused towards enhancing traffic to your website, visibility on different search engines in short span of time, providing an effective percentage of ROI to you
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="case-studies-card">
                            <div class="card-info">
                                <div class="card-body-left">
                                    <div class="numeric">01</div>
                                    <div class="symbol">
                                        <img src="../../assets/imges/arrow_right.png">
                                    </div>
                                </div>
                                <div class="card-body-right">
                                    <h5 class="card-title">Our Objective</h5>
                                    <p class="card-text">To become an exclusive IT service provider with a focus on operational excellence by continually creating more innovative opportunities for growth in our strategic business and focusing on exceeding customer expectations by understanding their business needs to be completely rewarded with a smile and social responsibility</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="case-studies-card">
                            <div class="card-info">
                                <div class="card-body-left">
                                    <div class="numeric">02</div>
                                    <div class="symbol">
                                        <img src="../../assets/imges/arrow_right.png">
                                    </div>
                                </div>
                                <div class="card-body-right">
                                    <h5 class="card-title">Our Vission</h5>
                                    <p class="card-text">Providing comprehensive IT creative solutions to help our clients and industry succeed via dedication, creativity, enthusiasm, productivity, value for money, ensuring high-quality goods, and instilling pride of ownership through innovative and long-term technical solutions</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  
<div class="section about_block holder_block">
    <div class="container-fluid">
        <div class="block1_h">
            <h4>Why Choose us ?</h4>
            <h6>I Dream Tech </h6>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="block1 colored">
                    <img src="../../assets/imges/icon_1.png" alt="icon1">
                    <h4>Affordable Prices</h4>
                    <p class="text-white text-center text-uppercase"></p>
                    <p>Most clients don't show interest because of the high prices. But at our company, you don't need
                        to worry about the cost. All costs of our services are affordable and reasonable for clients.
                    </p>
                    <p></p>
                </div>
            </div>
            <div class="col-lg-4 step_1">
                <div class="block1">
                    <img src="../../assets/imges/icon_2.png" class="img-fluid" alt="icon1">
                    <h4 class="text-white">Creative Team</h4>
                    <p class="text-white text-center text-uppercase"></p>
                    <p>Our team consists of all energetic and talented people who always upgrade themselves with the
                        industry progression.</p>
                    <p></p>
                </div>
            </div>
            <!-- Component :: about-us-hours-->
            <div class="col-lg-4 step_2">
                <div class="block1">
                    <img src="../../assets/imges/icon_3.png" alt="icon1">
                    <h4 class="text-white">Quick Support</h4>
                    <p class="text-white text-center text-uppercase"></p>
                    <p>We have 24/7 customer services who can help you with any queries at any time.</p>
                    <p>&nbsp;</p>
                    <p></p>
                </div>
            </div>

        </div>
        <!-- <a href="/contact" class="btn btn-primary" role="button">GET IN TOUCH</a> -->
    </div>
</div>
<div class="section Our-team">
    <div class="container-fluid">
        <div class="testimonial">
            <div class="row testimonial-heading">
                <div class="col-md-7">
                    <h4>Out Team</h4>
                    <h6>We Are Different From Others.</h6>
                </div>
            </div>
        </div>
        <app-our-team></app-our-team>
    </div>
</div>
