<div class="wrapper"></div>
<div class="wrapper-container">
    <div class="container-fluid">
        <div class="information-block">
            <div class="digital">
                <h3>Cloud Services</h3>
                <p></p>
            </div>
        </div>
    </div>
</div>
<div class="Objective holder_block">
    <div class="container-fluid">
        <div class="testimonial">
            <div class="row testimonial-heading">
                <div class="col-md-7">
                    <h4>Cloud Services for software</h4>
                    <h6>Canada's Best Cloud Services</h6>
                </div>
            </div>
        </div>
        <div class="case-studies-body">
            <div class="container-fluid">
                <div class="row card-row">
                    <div class="col-lg-10 col-md-12 col-sm-12">
                        <div class="case-studies-card">
                            <div class="card-info color1">
                                <div class="card-body-left">
                                    <div class="numeric">01</div>
                                    <div class="symbol">
                                        <img src="../../assets/imges/arrow_right.png">
                                    </div>
                                </div>
                                <div class="card-body-right">
                                    <!-- <h5 class="card-title">Our Objective</h5> -->
                                    <p class="card-text">Idream Tech Solutions is a leading cloud service company,
                                        providing affordable and reliable solutions to all your business needs. Choose
                                        from our wide array of cloud services, including web hosting, CRM, and more.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row card-row justify-content-center">
                    <div class="col-lg-10 col-md-12 col-sm-12">
                        <div class="case-studies-card">
                            <div class="card-info color2">
                                <div class="card-body-left">
                                    <div class="numeric">02</div>
                                    <div class="symbol">
                                        <img src="../../assets/imges/arrow_right.png">
                                    </div>
                                </div>
                                <div class="card-body-right">
                                    <!-- <h5 class="card-title">Our Vission</h5> -->
                                    <p class="card-text">Unbeatable features including Reliable and scalable service
                                        with 99% uptime, fully managed cloud infrastructure so you don’t have to worry
                                        about server maintenance, Customizable according to your needs – with modular
                                        pricing.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row card-row justify-content-end">
                    <div class="col-lg-10 col-md-12 col-sm-12">
                        <div class="case-studies-card">
                            <div class="card-info color3">
                                <div class="card-body-left">
                                    <div class="numeric">03</div>
                                    <div class="symbol">
                                        <img src="../../assets/imges/arrow_right.png">
                                    </div>
                                </div>
                                <div class="card-body-right">
                                    <!-- <h5 class="card-title">Our Vission</h5> -->
                                    <p class="card-text">Idream tech Solutions is the best Canadian cloud service
                                        company, so you’re never left without a solution. Whether you’re looking for
                                        cloud services or providing your own servers, we have a solution that’s perfect
                                        for you. Unlike other companies, we’ll never charge you for services that you
                                        don’t even want or need. And we guarantee that our rates will be competitive to
                                        everyone else in the market</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="holder_block">
    <div class="container-fluid">
        <h4 style="text-align: center;padding-top: 50px;">What we work on</h4>
        <div class="things">
            <div class="row products-heading wa">
                <div class="product-grid col-md-6 product-btn">
                    <p>Cloud technology is rapidly evolving and our team of experts will guide you every step of the way
                        so you can take advantage of recent developments in this sector and optimize your services on a
                        cost-effective basis. Scalable and Reliable Cloud services for your business.</p>
                    <div class="button_holder">
                        <a href="#" class="btn btn-primary-dark" role="button">FIND OUT MORE</a>
                    </div>
                </div>
                <div class="product-grid col-md-6 leftAlign">
                    <h6>Scalable Cloud Services for your Business</h6>
                    <!-- <h4>Subscriptions</h4> -->
                    <div>
                        <img src="../../assets/imges/cloud_service.png" alt="" style="width: 100%;">
                    </div>
                </div>
            </div>
            <div class="row products-heading">
                <div class="product-grid col-md-6">
                    <h6>We Ensure your Data Reliability</h6>
                    <!-- <h4>Subscriptions</h4> -->
                    <div>
                        <img src="../../assets/imges/cloud_secure.png" alt="" style="width: 100%;">
                    </div>
                </div>
                <div class="product-grid col-md-6 product-btn">
                    <p>Our cloud services cover all your needs from end to end. We ensure that our infrastructure and
                        service are up to date with the latest in technology. ur website is always updated. Our network
                        infrastructure is designed to be in constant contact with our cloud services, so you can have
                        peace of mind that your data is always safe and secure. </p>
                    <div class="button_holder">
                        <a href="#" class="btn btn-primary-dark" role="button">FIND OUT MORE</a>
                    </div>
                </div>
            </div>
            <div class="row products-heading wa">
                <div class="product-grid col-md-6 product-btn">
                    <p>Unlike other providers, Idream tech Solution s offers 24/7 cloud support without additional
                        charges; our experts will respond to your needs quickly and effectively. Store your data
                        securely in the cloud and access it anytime from anywhere; you can also share it with your team
                        via an easy-to-use web interface and mobile app.</p>
                    <p>The cloud’s biggest advantage is that it allows for data storage that can be accessed from
                        anywhere. Cloud resources are pooled together, meaning there is never a limit to the amount of
                        storage space and computing power available. Cloud storage can be scaled as your needs change,
                        and you only pay for the resources that you use.</p>
                    <div class="button_holder">
                        <a href="#" class="btn btn-primary-dark" role="button">FIND OUT MORE</a>
                    </div>
                </div>
                <div class="product-grid col-md-6 leftAlign wb">
                    <h6>Reach us for all kinds of Cloud Services</h6>
                    <!-- <h4>Subscriptions</h4> -->
                    <div>
                        <img src="../../assets/imges/Cloud_hosting.png" alt="" style="width: 100%;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="why-website">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="heading">
                    <h6>Features of Cloud Services</h6>
                    <br>
                    <!-- <h4>Take an advantage from our Web Development Services?</h4> -->
                </div>
                <div class="list">
                    <div id="example">
                        <ul class="list">
                            <li class="shopping">
                                <span class="title">Relevance and context</span>
                            </li>
                            <li class="personal">
                                <span class="title">Data Security</span>
                            </li>
                            <li class="work">
                                <span class="title">Content length</span>
                            </li>
                            <li class="shopping">
                                <span class="title">Page loading speed</span>
                            </li>
                            <li class="personal">
                                <span class="title">Efficiency and Cost Reduction</span>
                            </li>
                            <li class="work">
                                <span class="title">Scalability</span>
                            </li>
                            <li class="shopping">
                                <span class="title">Unlimited Storage Capacity</span>
                            </li>
                            <li class="personal">
                                <span class="title">Mobility</span>
                            </li>
                            <li class="work">
                                <span class="title">Automatic Software Updates and Integration</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12" style="padding-left: 50px;padding-top: 80px;">
                <img src="../../assets/imges/sidewal.jpg" alt="" style="width: 100%;">
            </div>
        </div>
    </div>
</div>