<div class="wrapper"></div>
<div class="wrapper-container">
    <div class="container-fluid">
        <div class="information-block">
            <div class="digital">
                <h3>Web Designing</h3>
                <p></p>
            </div>
        </div>
    </div>
</div>
<div class="Objective holder_block">
    <div class="container-fluid">
        <div class="testimonial">
            <div class="row testimonial-heading">
                <div class="col-md-7">
                    <h4>Software Desing & Devlop</h4>
                    <h6>Canada's best web design agency</h6>
                </div>
            </div>
        </div>
        <div class="case-studies-body">
            <div class="container-fluid">
                <div class="row card-row">
                    <div class="col-lg-10 col-md-12 col-sm-12">
                        <div class="case-studies-card">
                            <div class="card-info color1">
                                <div class="card-body-left">
                                    <div class="numeric">01</div>
                                    <div class="symbol">
                                        <img src="../../assets/imges/arrow_right.png">
                                    </div>
                                </div>
                                <div class="card-body-right">
                                    <!-- <h5 class="card-title">Our Objective</h5> -->
                                    <p class="card-text">Idream is a premium web design and development agency that
                                        offers the best in quality. We offer a complete set of website design and
                                        development services, from initial planning and wireframes to PHP, MySQL,
                                        WordPress, SEO, hosting and domain names. We aim to provide the best quality
                                        with each project we undertake.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row card-row justify-content-center">
                    <div class="col-lg-10 col-md-12 col-sm-12">
                        <div class="case-studies-card">
                            <div class="card-info color2">
                                <div class="card-body-left">
                                    <div class="numeric">02</div>
                                    <div class="symbol">
                                        <img src="../../assets/imges/arrow_right.png">
                                    </div>
                                </div>
                                <div class="card-body-right">
                                    <!-- <h5 class="card-title">Our Vission</h5> -->
                                    <p class="card-text">Our team consists of talented designers, developers, search
                                        engine optimizers, content writers, marketing specialists and project managers
                                        who are passionate about their work and want to provide the best possible
                                        service to all our customers. With over 8 years of experience in the industry,
                                        our team has been able to cater for clients with varying budgets while
                                        delivering an effective service that results in satisfied customers.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row card-row justify-content-end">
                    <div class="col-lg-10 col-md-12 col-sm-12">
                        <div class="case-studies-card">
                            <div class="card-info color3">
                                <div class="card-body-left">
                                    <div class="numeric">03</div>
                                    <div class="symbol">
                                        <img src="../../assets/imges/arrow_right.png">
                                    </div>
                                </div>
                                <div class="card-body-right">
                                    <!-- <h5 class="card-title">Our Vission</h5> -->
                                    <p class="card-text">Idream is widely recognised as a market leader in web design
                                        and development industry. Our years of experience have enabled us to build
                                        strong relationships with clients as well as contribute positively to the
                                        Canadian economy</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="holder_block">
    <div class="container-fluid">
        <h4 style="text-align: center;padding-top: 50px;">What we work on</h4>
        <div class="things">
            <div class="row products-heading">
                <div class="product-grid col-md-6 product-btn">
                    <p>We Design the Website using UI/UX Design based on the Busniess We use Xd, Figma, tools For the
                        Design the Templates to your Business needs </p>
                    <div class="button_holder">
                        <a href="#" class="btn btn-primary-dark" role="button">FIND OUT MORE</a>
                    </div>
                </div>
                <div class="product-grid col-md-6 leftAlign">
                    <h6>Website Design & Develop</h6>
                    <!-- <h4>Subscriptions</h4> -->
                    <div>
                        <img src="../../assets/imges/webdev.png" alt="" style="width: 100%;">
                    </div>
                </div>
            </div>
            <div class="row products-heading">
                <div class="product-grid col-md-6">
                    <h6>Ecommerce Website</h6>
                    <!-- <h4>Subscriptions</h4> -->
                    <div>
                        <img src="../../assets/imges/web_shopping.png" alt="" style="width: 100%;">
                    </div>
                </div>
                <div class="product-grid col-md-6 product-btn">
                    <p>We Design & Develop the Ecommerce Sites For your Business using the wordpress & Shpofiy and Other
                        CRM Tools </p>
                    <div class="button_holder">
                        <a href="#" class="btn btn-primary-dark" role="button">FIND OUT MORE</a>
                    </div>
                </div>
            </div>
            <div class="row products-heading no-border">
                <div class="product-grid col-md-6 product-btn">
                    <p>We Develop the Web App for your Business based on the Requriment and We Develop the PWA
                        Application using React & Other Services </p>
                    <div class="button_holder">
                        <a href="#" class="btn btn-primary-dark" role="button">FIND OUT MORE</a>
                    </div>
                </div>
                <div class="product-grid col-md-6 leftAlign wb">
                    <h6>Web Application</h6>
                    <!-- <h4>Subscriptions</h4> -->
                    <div>
                        <img src="../../assets/imges/heatmap.png" alt="" style="width: 100%;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="why-website">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="heading">
                    <h6>Why a website is a Mandate for any business?</h6>
                    <br>
                    <!-- <h4>Take an advantage from our Web Development Services?</h4> -->
                </div>
                <div class="list">
                    <div id="example">
                        <ul class="list">
                            <li class="shopping">
                                <span class="title">Creative Websites for your business</span>
                            </li>
                            <li class="personal">
                                <span class="title">Innovative UI options</span>
                            </li>
                            <li class="work">
                                <span class="title">Mobile friendly Websites for your business or brand</span>
                            </li>
                            <li class="shopping">
                                <span class="title">secured protocol integrations while development</span>
                            </li>
                            <li class="personal">
                                <span class="title">Advanced Websites with Dynamic programming integrations</span>
                            </li>
                            <li class="work">
                                <span class="title">Speed and Lighter UI Experience websites</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12" style="padding-left: 50px;padding-top: 80px;">
                <img src="../../assets/imges/sidewal.jpg" alt="" style="width: 100%;">
            </div>
        </div>
    </div>
</div>