<div class="wrapper"></div>
<div class="wrapper-container">
    <div class="container-fluid">
        <div class="information-block">
            <div class="digital">
                <h3>The Best Web Designing and Development, Digital Marketing Company</h3>
                <p>A profitable offshore software program utility improvement organization seeing that , supplying a
                    full vary of internet site and cellular app improvement and different IT offerings and options
                    globally</p>
            </div>
        </div>
    </div>
</div>
<div class="holder_block">
    <div class="container-fluid">
        <h4 style="text-align: center;padding-top: 50px;">What we work on</h4>
        <div class="things">
            <div class="row products-heading">
                <div class="product-grid col-md-6 product-btn">
                    <h4>Web Development</h4>
                    <p>Being a main internet site utility improvement company, our licensed builders have unparalleled
                        know-how in working with the state-of-the-art net applied sciences to supply customized internet
                        solutions. Whether growing a net presence for your company, an records hub for your commercial
                        enterprise or empowering your apps/IoT gadgets via backend- Idream does it all by using masking
                        a broad spectrum of net options and framework.</p>
                    <div class="button_holder">
                        <a routerLink="/webdesign" class="btn btn-primary" role="button">FIND OUT MORE</a>
                    </div>
                </div>
                <div class="product-grid col-md-6 leftAlign">
                    <div>
                        <img src="../../assets/imges/webdesign.jpeg" alt="" style="width: 100%;">
                    </div>
                </div>
            </div>
            <div class="row products-heading">
                <div class="product-grid col-md-6">
                    <!-- <h4>Subscriptions</h4> -->
                    <div>
                        <img src="../../assets/imges/cloud-computing.jpeg" alt="" style="width: 100%;">
                    </div>
                </div>
                <div class="product-grid col-md-6 product-btn">
                    <h6>Cloud Services</h6>
                    <p>Unbeatable features including Reliable and scalable service with 99% uptime, fully managed cloud
                        infrastructure so you don’t have to worry about server maintenance, Customizable according to
                        your needs – with modular pricing.</p>
                    <p>Idream Technologies is the best Canadian cloud service company, so you’re never left without a
                        solution. Whether you’re looking for cloud services or providing your own servers, we have a
                        solution that’s perfect for you. Unlike other companies, we’ll never charge you for services
                        that you don’t even want or need. And we guarantee that our rates will be competitive to
                        everyone else in the market.</p>
                    <div class="button_holder">
                        <a routerLink="/cloud" class="btn btn-primary" role="button">FIND OUT MORE</a>
                    </div>
                </div>
            </div>
            <div class="row products-heading no-border">
                <div class="product-grid col-md-6 product-btn">
                    <h6>Digital Marketing</h6>
                    <p>Idream Tech Solutions contains of the most vibrant, energetic, and dynamic group who are skilled
                        in domains like Web Development, Digital Marketing, CMS, SEO, SEM, SMM, Graphic Designing, IT
                        Infrastructure, CRM & ERP improvement & solutions, Payroll Management, Network Security, Telecom
                        Infrastructure, and Security Product & Services etc. nationally & internationally.</p>
                    <div class="button_holder">
                        <a routerLink="/marketing" class="btn btn-primary" role="button">FIND OUT MORE</a>
                    </div>
                </div>
                <div class="product-grid col-md-6 leftAlign wb">
                    <!-- <h4>Subscriptions</h4> -->
                    <div>
                        <img src="../../assets/imges/digital_marketing.jpeg" alt="" style="width: 100%;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
