<div class="wrapper"></div>
<div class="wrapper-container">
    <div class="container-fluid">
        <div class="information-block">
            <div class="digital">
                <h3>Digital Marketing</h3>
                <p></p>
            </div>
        </div>
    </div>
</div>
<div class="Objective holder_block">
    <div class="container-fluid">
        <div class="testimonial">
            <div class="row testimonial-heading">
                <div class="col-md-7">
                    <h4>Digital Marketing</h4>
                    <h6>Canada's Best Digital Marketing agency</h6>
                </div>
            </div>
        </div>
        <div class="case-studies-body">
            <div class="container-fluid">
                <div class="row card-row">
                    <div class="col-lg-10 col-md-12 col-sm-12">
                        <div class="case-studies-card">
                            <div class="card-info color1">
                                <div class="card-body-left">
                                    <div class="numeric">01</div>
                                    <div class="symbol">
                                        <img src="../../assets/imges/arrow_right.png">
                                    </div>
                                </div>
                                <div class="card-body-right">
                                    <!-- <h5 class="card-title">Our Objective</h5> -->
                                    <p class="card-text">When searching for best digital marketing services, the concept
                                        of search plays a huge role in choosing which digital marketing agency to work
                                        with. We are a Full-service digital marketing agency in Canada, delivering
                                        inbound marketing services. Reach us to avail variety of digital marketing
                                        services.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row card-row justify-content-center">
                    <div class="col-lg-10 col-md-12 col-sm-12">
                        <div class="case-studies-card">
                            <div class="card-info color2">
                                <div class="card-body-left">
                                    <div class="numeric">02</div>
                                    <div class="symbol">
                                        <img src="../../assets/imges/arrow_right.png">
                                    </div>
                                </div>
                                <div class="card-body-right">
                                    <!-- <h5 class="card-title">Our Vission</h5> -->
                                    <p class="card-text">Larger organizations often work with full-service digital
                                        marketing agencies because they free up the time of corporate marketing and
                                        sales managers and executives to focus on other areas of their business. We are
                                        a Digital Marketing and IT agency in Canada that is solely focused on digital
                                        marketing campaigns and IT Solutions for any business. We are best for small
                                        businesses and start-ups that don’t have a large marketing and sales staff. We
                                        also work with B2B or mid-sized organizations.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row card-row justify-content-end">
                    <div class="col-lg-10 col-md-12 col-sm-12">
                        <div class="case-studies-card">
                            <div class="card-info color3">
                                <div class="card-body-left">
                                    <div class="numeric">03</div>
                                    <div class="symbol">
                                        <img src="../../assets/imges/arrow_right.png">
                                    </div>
                                </div>
                                <div class="card-body-right">
                                    <!-- <h5 class="card-title">Our Vission</h5> -->
                                    <p class="card-text">Given the power of digital marketing, it’s helpful to explore
                                        the different types of agencies and what they can offer. A good digital
                                        marketing agency must be transparent about their services and the results they
                                        can deliver. Partnering with a great digital agency focused on a quality
                                        marketing strategy is an obvious place to start. Once you have a set of goals
                                        you want to achieve with your marketing strategy, you can find a marketing
                                        agency that is a good fit for your goals. We offer a transparent end to end
                                        process in all our Core services that guarantee a trust and quality.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="holder_block">
    <div class="container-fluid">
        <h4 style="text-align: center;padding-top: 50px;">What we work on</h4>
        <div class="things">
            <div class="row products-heading wa">
                <div class="product-grid col-md-6 product-btn">
                    <p>We are among the top ranked Digital Marketing Company in Canada and we are expanding in the US
                        soon. offering High end for email marketing, paid media, social media, Amazon, optimization,
                        conversion rate, analysis, and digital marketing strategy services. We also have great online
                        reviews, award-winning case studies (it recently won an Enterprise SEO Campaign and Best Search
                        Engine Marketing Campaign of the Year), and works with medium to large businesses.</p>
                    <p>Idream Tech Solutions is a digital marketing company that offers the best-in-class services. We
                        are a team of experts who have been in this industry for more than 10 years and have helped many
                        businesses grow.</p>
                    <div class="button_holder">
                        <a href="#" class="btn btn-primary-dark" role="button">FIND OUT MORE</a>
                    </div>
                </div>
                <div class="product-grid col-md-6 leftAlign">
                    <h6>Why Idream Tech Solutions for Digital Marketing?</h6>
                    <!-- <h4>Subscriptions</h4> -->
                    <div>
                        <img src="../../assets/imges/digitalmarket.png" alt="" style="width: 100%;">
                    </div>
                </div>
            </div>
            <div class="row products-heading">
                <div class="product-grid col-md-6">
                    <h6>Social Media Brand Management</h6>
                    <!-- <h4>Subscriptions</h4> -->
                    <div>
                        <img src="../../assets/imges/socialMedia.png" alt="" style="width: 100%;">
                    </div>
                </div>
                <div class="product-grid col-md-6 product-btn">
                    <p>Social media is a powerful marketing tool that can drive traffic to your website and increase
                        your brand’s visibility. We help you with SMO services that include social media campaign
                        management, content creation for social media networks like Facebook, Twitter, LinkedIn and
                        Instagram etc., and influencer marketing to help you grow your following. We Deliver social
                        media optimization (SMO), which helps you get more followers on social media networks like
                        Facebook and Twitter.</p>
                    <div class="button_holder">
                        <a href="#" class="btn btn-primary-dark" role="button">FIND OUT MORE</a>
                    </div>
                </div>
            </div>
            <div class="row products-heading wa no-border">
                <div class="product-grid col-md-6 product-btn">
                    <p> For award-winning digital marketing services. From search engine optimization (SEO) and social
                        media optimization (SMO) to pay-per-click (PPC) advertising and more, our team will assist you
                        in everything. we help grow your business and boost your online visibility thereby resulting in
                        a Good ROI.</p>
                    <div class="button_holder">
                        <a href="#" class="btn btn-primary-dark" role="button">FIND OUT MORE</a>
                    </div>
                </div>
                <div class="product-grid col-md-6 leftAlign wb">
                    <h6>SEO, SMO PPC Experts at your reach</h6>
                    <!-- <h4>Subscriptions</h4> -->
                    <div>
                        <img src="../../assets/imges/SEO.png" alt="" style="width: 100%;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="why-website">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="heading">
                    <h6>Services We Offer you</h6>
                    <br>
                    <!-- <h4>Take an advantage from our Web Development Services?</h4> -->
                </div>
                <div class="list">
                    <div id="example">
                        <ul class="list">
                            <li class="shopping">
                                <span class="title">Local Seo</span>
                            </li>
                            <li class="personal">
                                <span class="title">Technical SEO</span>
                            </li>
                            <li class="work">
                                <span class="title">Content Marketing</span>
                            </li>
                            <li class="shopping">
                                <span class="title">Ecommerce SEO</span>
                            </li>
                            <li class="personal">
                                <span class="title">Social media optimization (SMO)</span>
                            </li>
                            <li class="work">
                                <span class="title">Search Engine Marketing (Google ads, Paid ads)</span>
                            </li>
                            <li class="shopping">
                                <span class="title">Email marketing</span>
                            </li>
                            <li class="personal">
                                <span class="title">Brand Marketing</span>
                            </li>
                            <li class="work">
                                <span class="title">Social Media Marketing (SMM)</span>
                            </li>
                            <li class="shopping">
                                <span class="title">Brand Improvement</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12" style="padding-left: 50px;padding-top: 80px;">
                <img src="../../assets/imges/sidewal.jpg" alt="" style="width: 100%;">
            </div>
        </div>
    </div>
</div>