<div class="wrapper"></div>
<div class="wrapper-container">
    <div class="container-fluid">
        <div class="information-block">
            <div class="digital">
                <h3>Idream - We are Leading IT Firm in Canada</h3>
                <p>We partner with our clients to create impact and drive growth.</p>
            </div>
        </div>
    </div>
</div>
<div class="wrapper-container">
    <div class="container-fluid">
        <div class="testimonial">
            <div class="row testimonial-heading">
                <div class="col-md-7">
                    <h4>Why Choose us ?</h4>
                  <h6>Grow Your Business with our Services</h6>
                </div>
              </div>
        </div>
        <div class="holder_block card-block">
            <div class="row card-block-content">
                <div class="col-md-12 col-lg-6 card-content-left">
                    <div class="card-content">
                        <!-- <h4>20+ years</h4> -->
                        <img alt="tm"
                            src="../../assets/imges/grow.png">
                        <p><b>A leading digital marketing agency dedicated to elevating your brand 
                            through multi-channel marketing solutions, branding and 
                            creative design.</b></p>
                            <p><span class="points">1.</span>We prefer going to any extent to acquire the best and what you deserve. We never stop challenging ourselves with every challenge that comes our way.</p>
                        <!-- <div class="button_holder">
                            <a href="#" class="btn btn-secondary">Know More</a>
                        </div> -->
                    </div>
                </div>
                <div class="col-md-12 col-lg-6 card-content-right">
                    <div class="card-content">
                        <img alt="tm"
                            src="../../assets/imges/business_publishers_icon.png">
                        <p><span class="points">2.</span> We operate closely with clients to provide end-to-end strategy and evolution of technology assistance tailor-made to satisfy your business’s requirements.</p>
                        <p><span class="points">3.</span> With years of knowledge in practiced application and expertise across industries, we create custom solutions to make your vision a reality</p>
                        <!-- <div class="button_holder">
                            <a href="#" class="btn btn-primary">Know More</a>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="service-container" style="background-color: #efefef;">
    <div class="container-fluid">
        <div class="services">
            <div class="testimonial">
                <div class="row testimonial-heading" style="padding-bottom: 49px;">
                    <div class="col-md-7">
                        <h4>Our Services</h4>
                      <h6>what do our clients say about us?</h6>
                    </div>
                  </div>
            </div>
            <div id="carouselExampleDark" class="carousel carousel-dark slide">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="10000">
                    <div class="card-blocks">
                        <div class="row card-block-content">
                            <div class="col-md-12 col-lg-6 card-content-left">
                                <div class="card-content">
                                    <h4>Development</h4>
                                    <p>Is your website ready for the needs of the modernized customers present all over the internet? We can make sure that your website is highly functional through the implementation of the perfect web development progress</p>
                                    <div class="button_holder">
                                        <a routerLink="/webdesign" class="btn btn-secondary">Know More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-6 card-content-right">
                                <div class="card-content">
                                    <h4>Design</h4>
                                    <p>Every business idea ranging from small to large takes pinion and shine with a professionally designed website with our web design service. A Website is the first posture of contact for business with respect to the customers.</p>
                                    <div class="button_holder">
                                        <a routerLink="/webdesign" class="btn btn-primary">Know More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <div class="card-blocks">
                        <div class="row card-block-content">
                            <div class="col-md-12 col-lg-6 card-content-left">
                                <div class="card-content">
                                    <h4>Marketing</h4>
                                    <p>Office Branding, Business Branding, we offer every branding solution for any business or organization. Reach us for affordable branding services in Canada.</p>
                                    <div class="button_holder">
                                        <a routerLink="/marketing" class="btn btn-secondary">Know More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-6 card-content-right">
                                <div class="card-content">
                                    <h4>Cloud Services</h4>
                                    <p>Faster, Secured and Reliable Cloud services with competitive pricing. We offer cloud services for small and medium scaled businesses</p>
                                    <div class="button_holder">
                                        <a routerLink="/cloud" class="btn btn-primary">Know More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="card-blocks">
                        <div class="row card-block-content">
                            <div class="col-md-12 col-lg-6 card-content-left">
                                <div class="card-content">
                                    <h4>Social Media</h4>
                                    <p>Office Branding, Business Branding, we offer every branding solution for any business or organization. Reach us for affordable branding services.</p>
                                    <div class="button_holder">
                                        <a routerLink="/about" class="btn btn-secondary">Know More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-6 card-content-right">
                                <div class="card-content">
                                    <h4>Help & Support</h4>
                                    <p>We are here with you 24/7 Help & Support</p>
                                    <div class="button_holder">
                                        <a routerLink="/contact" class="btn btn-primary">Know More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
                <button class="carousel-control-prev arrow" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                  <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
                  <img src="../../assets/imges/left_arrow_testimonial.png" class="d-block w-100" alt="...">
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next arrow" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                  <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
                  <img src="../../assets/imges/right_arrow_testimonial.png" class="d-block w-100" alt="...">
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
    </div>
</div>

<div class="process-container">
    <div class="container-fluid">
        <section class="work-porcess-area section">
            <div class="container" style="padding: 0;">
                <div class="testimonial">
                    <div class="row testimonial-heading" style="padding-bottom: 49px;">
                        <div class="col-md-7">
                            <h4>Our Process</h4>
                          <h6>How our working process flow</h6>
                        </div>
                      </div>
                </div>
                <div class="process-info">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="single-process first text-center">
                                <img src="../../assets/imges/idea.png" alt="" srcset="">
                                <h4>Idea</h4>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="single-process secend text-center">
                                <img src="../../assets/imges/search.png" alt="" srcset="">
                                <h4>Research</h4>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="single-process thard text-center">
                                <img src="../../assets/imges/design.png" alt="" srcset="">
                                <h4>Design</h4>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="single-process four text-center">
                                <img src="../../assets/imges/build.png" alt="" srcset="">
                                <h4>Build</h4>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="single-process last text-center">
                                <img src="../../assets/imges/launch.png" alt="" srcset="">
                                <h4>Launch</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<div class="process-container" style="background-color: #efefef;">
    <div class="container-fluid">
        <section class="work-porcess-area section">
            <div class="container" style="padding: 0 0 40px 0;">
                <div class="testimonial">
                    <div class="row testimonial-heading" style="padding-bottom: 49px;">
                        <div class="col-md-7">
                            <h4>Our Clients</h4>
                          <h6>Trusted by companies all over the world</h6>
                        </div>
                      </div>
                </div>
                <div class="client-info">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="single-process first text-center">
                                <img src="../../assets/imges/client.svg" alt="" srcset="">
                                <!-- <h4>Idea</h4> -->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="single-process secend text-center">
                                <img src="../../assets/imges/client.svg" alt="" srcset="">
                                <!-- <h4>Research</h4> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>